<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659833454474-mjq8utv8597oef12emmf8glgoe9l4e3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659833454474-mjq8utv8597oef12emmf8glgoe9l4e3p</string>
	<key>API_KEY</key>
	<string>AIzaSyAXGh6Y3TKUTC7Ch52a8oZRo4JObF3Fk4U</string>
	<key>GCM_SENDER_ID</key>
	<string>659833454474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sawrose.photoGallery</string>
	<key>PROJECT_ID</key>
	<string>gallery-flutter-e6cb6</string>
	<key>STORAGE_BUCKET</key>
	<string>gallery-flutter-e6cb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659833454474:ios:3ab5a268d12c93222cd273</string>
</dict>
</plist>